<!-- Navbar -->
<nav class="navbar navbar-light bg-light justify-content-between static-top">
    <a class="navbar-brand" href="/index"><img src="../images/train.png" id="pictoNav"> Ticketac</a>
    <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
      <li class="nav-item mr-sm-4">
        <a class="nav-link link-menu" href="/panier">My tickets</a>
      </li>
      <li class="nav-item mr-sm-3">
        <a class="nav-link link-menu" href="users/lastTrip">My Last Trip</a>
      </li>
      <li class="nav-item mr-sm-3">
        <a class="nav-link link-menu" href="users/logout">Logout</a>
      </li>
    </ul>
  </nav>