<!-- Navbar -->
<nav class="navbar navbar-light bg-light justify-content-between static-top">
    <a class="navbar-brand" href="/index"><img src="../images/train.png" id="pictoNav"> Ticketac</a>
</nav>