body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("/images/landmark.png");
  background-repeat: no-repeat;
  background-position: right 50% bottom 350%;
  background-size: 250px 225px;
  background-color: rgb(153,187,240);
}

h2{
  color: #ffffff;
}

#pictoNav{
  height: 40px;
  width: 40px;
}

.link-menu{
  color: #2d3436 !important;
}

.link-menu:hover{
  color: #d63031 !important;
}
